@model Shipping.Models.O_I

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Mymester.cshtml";
}

<h2>Details</h2>

<div>
    <h4>O_I</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Order_Order)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order_Order.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Items_Items)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Items_Items.ID)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
