@model Shipping.Models.Craditcarrd

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Mymester.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Craditcarrd</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.C_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.C_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.C_address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.C_address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.C_Number)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.C_Number)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vcs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vcs)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Expirydate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Expirydate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
